<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>biscuit001</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit003</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit004</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit005</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit006</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit007</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit008</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit009</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit010</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit011</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit012</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit013</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit014</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit015</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit016</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit017</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>biscuit018</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
</array>
</plist>
