<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>dinosaur001</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur003</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur004</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur005</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur006</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur007</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur008</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur009</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur010</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur011</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur012</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur013</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur014</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur015</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur016</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur017</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur018</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>dinosaur019</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
</array>
</plist>
