<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>ju001</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>ju002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>ju003</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>ju004</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
</array>
</plist>
