<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>[流汗]</string>
		<key>face_name</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[尬尴]</string>
		<key>face_name</key>
		<string>[尬尴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不厚道的笑]</string>
		<key>face_name</key>
		<string>[不厚道的笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[害怕]</string>
		<key>face_name</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[可怜]</string>
		<key>face_name</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[笑掉大牙]</string>
		<key>face_name</key>
		<string>[笑掉大牙]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不服气]</string>
		<key>face_name</key>
		<string>[不服气]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[鬼]</string>
		<key>face_name</key>
		<string>[鬼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[斗鸡眼]</string>
		<key>face_name</key>
		<string>[斗鸡眼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[献吻]</string>
		<key>face_name</key>
		<string>[献吻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[坏人]</string>
		<key>face_name</key>
		<string>[坏人]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[独眼龙]</string>
		<key>face_name</key>
		<string>[独眼龙]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[坏笑]</string>
		<key>face_name</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[流泪]</string>
		<key>face_name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[大笑]</string>
		<key>face_name</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[微笑]</string>
		<key>face_name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[哭笑不得]</string>
		<key>face_name</key>
		<string>[哭笑不得]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[困]</string>
		<key>face_name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[我方了]</string>
		<key>face_name</key>
		<string>[我方了]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[狗]</string>
		<key>face_name</key>
		<string>[狗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[糟糕]</string>
		<key>face_name</key>
		<string>[糟糕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不高兴]</string>
		<key>face_name</key>
		<string>[不高兴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[愤怒]</string>
		<key>face_name</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[闭眼睛]</string>
		<key>face_name</key>
		<string>[闭眼睛]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[可爱]</string>
		<key>face_name</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[怒]</string>
		<key>face_name</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[诧异]</string>
		<key>face_name</key>
		<string>[诧异]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[调皮]</string>
		<key>face_name</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[难过]</string>
		<key>face_name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惆怅]</string>
		<key>face_name</key>
		<string>[惆怅]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惊恐]</string>
		<key>face_name</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[亲吻]</string>
		<key>face_name</key>
		<string>[亲吻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[白眼]</string>
		<key>face_name</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[疲惫]</string>
		<key>face_name</key>
		<string>[疲惫]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[被打]</string>
		<key>face_name</key>
		<string>[被打]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[累]</string>
		<key>face_name</key>
		<string>[累]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[太阳镜]</string>
		<key>face_name</key>
		<string>[太阳镜]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[恶魔]</string>
		<key>face_name</key>
		<string>[恶魔]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[吃惊]</string>
		<key>face_name</key>
		<string>[吃惊]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[呵呵]</string>
		<key>face_name</key>
		<string>[呵呵]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[龇牙]</string>
		<key>face_name</key>
		<string>[龇牙]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[流口水]</string>
		<key>face_name</key>
		<string>[流口水]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[瞪]</string>
		<key>face_name</key>
		<string>[瞪]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[打哈欠]</string>
		<key>face_name</key>
		<string>[打哈欠]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惊愕]</string>
		<key>face_name</key>
		<string>[惊愕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[饱]</string>
		<key>face_name</key>
		<string>[饱]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[色]</string>
		<key>face_name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[戴口罩]</string>
		<key>face_name</key>
		<string>[戴口罩]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[哈哈]</string>
		<key>face_name</key>
		<string>[哈哈]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[歪嘴]</string>
		<key>face_name</key>
		<string>[歪嘴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[小丑]</string>
		<key>face_name</key>
		<string>[小丑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不好意思]</string>
		<key>face_name</key>
		<string>[不好意思]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[太阳]</string>
		<key>face_name</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[见钱眼开]</string>
		<key>face_name</key>
		<string>[见钱眼开]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[睡觉]</string>
		<key>face_name</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[眨眼睛]</string>
		<key>face_name</key>
		<string>[眨眼睛]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[愁]</string>
		<key>face_name</key>
		<string>[愁]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[唱歌]</string>
		<key>face_name</key>
		<string>[唱歌]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[吐]</string>
		<key>face_name</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[呆]</string>
		<key>face_name</key>
		<string>[呆]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[哼]</string>
		<key>face_name</key>
		<string>[哼]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[呲牙]</string>
		<key>face_name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惊呆]</string>
		<key>face_name</key>
		<string>[惊呆]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[高兴]</string>
		<key>face_name</key>
		<string>[高兴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不开心]</string>
		<key>face_name</key>
		<string>[不开心]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[爱慕]</string>
		<key>face_name</key>
		<string>[爱慕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[飞吻]</string>
		<key>face_name</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[吓]</string>
		<key>face_name</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[嚎啕大哭]</string>
		<key>face_name</key>
		<string>[嚎啕大哭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[汗]</string>
		<key>face_name</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[啊]</string>
		<key>face_name</key>
		<string>[啊]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[咬牙切齿]</string>
		<key>face_name</key>
		<string>[咬牙切齿]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[天使]</string>
		<key>face_name</key>
		<string>[天使]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[老爷爷]</string>
		<key>face_name</key>
		<string>[老爷爷]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惊吓]</string>
		<key>face_name</key>
		<string>[惊吓]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[气的发绿]</string>
		<key>face_name</key>
		<string>[气的发绿]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[嘿嘿]</string>
		<key>face_name</key>
		<string>[嘿嘿]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不屑]</string>
		<key>face_name</key>
		<string>[不屑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[可怕]</string>
		<key>face_name</key>
		<string>[可怕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[听音乐]</string>
		<key>face_name</key>
		<string>[听音乐]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[笑的飞起来]</string>
		<key>face_name</key>
		<string>[笑的飞起来]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[晕]</string>
		<key>face_name</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[撇嘴]</string>
		<key>face_name</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[困惑]</string>
		<key>face_name</key>
		<string>[困惑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[疑惑]</string>
		<key>face_name</key>
		<string>[疑惑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[眼花]</string>
		<key>face_name</key>
		<string>[眼花]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[得意]</string>
		<key>face_name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[闭嘴]</string>
		<key>face_name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[脸红]</string>
		<key>face_name</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[惊讶]</string>
		<key>face_name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[吐舌头]</string>
		<key>face_name</key>
		<string>[吐舌头]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[大哭]</string>
		<key>face_name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[悲伤]</string>
		<key>face_name</key>
		<string>[悲伤]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[不相信]</string>
		<key>face_name</key>
		<string>[不相信]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[假笑]</string>
		<key>face_name</key>
		<string>[假笑]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[委屈]</string>
		<key>face_name</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[老鼠]</string>
		<key>face_name</key>
		<string>[老鼠]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[冒星星]</string>
		<key>face_name</key>
		<string>[冒星星]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[憋屈]</string>
		<key>face_name</key>
		<string>[憋屈]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>[生气]</string>
		<key>face_name</key>
		<string>[生气]</string>
	</dict>
</array>
</plist>
