<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>peach001</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach003</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach004</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach005</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach006</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach007</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach008</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach009</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach010</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach011</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach012</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach013</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach014</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach015</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>peach016</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
</array>
</plist>
