<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>pic001</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic002</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic003</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic004</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic0005</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic006</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic007</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic008</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic009</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic010</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic011</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic012</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic013</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic014</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>pic015</string>
		<key>face_id</key>
		<string>[贴纸表情]</string>
	</dict>
</array>
</plist>
